<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        
      </a>

      <ul class="nav col-12 col-md-auto mb-2  justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
        {{#if user}}
        <li><a href="/addbook" class="nav-link px-2 link-dark">Add Book <i class="fa-solid fa-book"></i></a></li> 
        {{/if}}
        </ul>
      <div class="col-md-3 text-end ">
        {{#if user}}
        <a href="#"  class="btn btn-dark me-1">
          {{#if user.name}}
          {{user.name}}
          {{else}}
          {{user.displayName}}
          {{/if}}
          </a>
        <a href="/logout" class="btn btn-dark">Logout</a>
        {{else}}
        <a href="/login" class="btn btn-dark me-1">Login</a>
        <a href="/signup" class="btn btn-dark">Sign Up</a>
        {{/if}}
      </div>
    </header>